<div id="banner" class="flex flex-row justify-center h-36 p-2">
  <img class="object-contain" src="<%= image_url('bac_run.webp')%>">
  <div id="title" class="flex items-center">
    <span class="text-3xl text-center">Thousand Bear Woods</span>
  </div>
  <img class="object-contain" src="<%= image_url('bac_cool.png') %>">
</div>