<div class="px-4 text-lg xl:w-1/2 sm:w-full">
  <h1 class="text-center underline offset">Welcome Traveler</h1>
  <p>
    I have a very special bear friend that I made back during the winter. She is the kindest and warmest bear I have ever met. Whenever I saw her, she would always lift her friends up and give them a good time.
    She brought a lot of color, joy, and laughter to my life. This wonderful bear's name is KumaRingo. The absolute best homie you could ever find.
  </p>
  <div class="flex justify-center">
    <img src="<%= image_url('bacbac_whee.gif') %>">
  </div>
  <br>
  <p>
    One day I made the biggest mistake of my life and hurt her really bad when she needed my help. 
    I broke her heart and made her extremely sad. She did not deserve at all to be treated this way. I don't know if she will ever talk to me again. Looking back, I didn't treat her with my best and I regret it very much.
    I didn't get to tell KumaRingo how much I appreciated having her in my life. I don't want her to be sad anymore. 
  </p>
  <div class="flex justify-center">
    <img src="<%= image_url('bacbac_tear.png') %>">
  </div>
  <br>
  <p>
    This place is called the Thousand Bear Woods because... you know... there's a thousand bears here. Just kidding, there's more to the story. Every morning and night, I will ask one of the bears here to help me send a warm
    message to KumaRingo. These messages will show my appreciation and apology for her. There isn't anything that can take away my past actions but I hope these messages can help start her day a little bit better and
    nights a little bit less scary. 
  </p>
  <br>
  <div class="flex justify-center">
    <img class="h-52" src="<%= image_url('bacbac_fighting.png') %>">
  </div>
  <br>
  <p>
    If you ever come across KumaRingo, please give her a hug and maybe a taco, or any delicious food you may stumble upon.
  </p>
  <br>
  <p class="italic">
    - Pidget the Widget
  </p>
  <br>
<div>